@import "tailwindcss";

body {
  background: #020617;
  /* slate-950 */
  color: #e2e8f0;
  /* slate-200-ish */
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes progress-scan {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(300%);
  }
}

.animate-progress-scan {
  animation: progress-scan 1.5s infinite linear;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}